/vendor
/node_modules
/public/storage
/public/images/slides
/public/images/about-us
/public/images/services
/public/images/projects
/public/images/quotes
/public/images/customers
/public/images/favicon
/public/pdf/courses
Homestead.yaml
Homestead.json
.env
/.idea